# вот так можно писать комментарии;

# Просто название файла
#  file_name.txt

# игнорировать все файлы, которые заканчиваются на .jpeg
#  *.jpeg

# игнорировать все файлы "tmp" во всех подпапках папки docs
#  docs/*/tmp

# Вопросительный знак ? соответствует одному любому символу.
#  file?.txt
#Если сохранить такую запись в .gitignore, 
#то будут проигнорированы, например, файлы fileA.txt и file1.txt. 
#А вот файл file12.txt не будет проигнорирован, потому что в его названии два символа после file, а не один.

# Квадратные скобки ([…])
# игнорировать файлы file0.txt, file1.txt и file2.txt
# при этом не игнорировать file3.txt, file4.txt, ...
# file[0-2].txt

# Слеш (/)
# игнорировать todo.txt в корне репозитория
#  /todo.txt
# для сравнения: spam.txt будет игнорироваться во всех папках
#  spam.txt 
# Если шаблон заканчивается слешем, то правило применится только к папке.
# игнорировать папку build
#  build/
# Обратите внимание: если build — это папка, то она будет проигнорирована. 
#Если build — обычный файл, то он не подпадёт под правило и не будет игнорироваться.

#Парные звёздочки (**)
# игнорировать файлы "docs/current/tmp", "docs/old/tmp",
# а также "docs/old/saved/a/b/c/d/tmp"
# и даже "docs/tmp", потому что ноль вложенных папок тоже подходит
#  docs/**/tmp

# игнорировать только "docs/current/tmp" и "docs/old/tmp"
# файл "docs/old/saved/a/b/c/d/tmp" не попадает в правило
#  docs/*/tmp 

# Восклицательный знак (!)
# игнорировать все JPEG-файлы
#  *.jpeg
# но только не мем с Doge
#  !doge.jpeg


